- Loops in Python: -

1. while loops # jab tak jho niche condition likhi h tab kar run karte raho
- Count variables are called Iterators
- Iteration is in the loop
2. for loops   #

In [2]:
count = 1

while count <= 5:
    print("Hello")
    count += 1

Hello
Hello
Hello
Hello
Hello

In [3]:
i = 1
while i <= 5:
    print("Hello")
    i += 1
print(i)

Hello
Hello
Hello
Hello
Hello
6

In [6]:
i = 5
while i >= 1:
    print(i)
    i -= 1
print(i)

5
4
3
2
1
0

In [ ]:
############## Avoid this kind o infinite loops ###################

# i = 5
# while i < 6:
#     print(i)
#     i -= 1
# print(i)

- Practice questions: -

Let's Practice using **while loops**
1. Print numbers from 1 to 100.
2. Print numbers from 100 to 1.
3. Print the multiplication table of a number n.
4. Print the elements of the following list using a loop:
    - [1, 4, 9, 16, 25, 36, 49, 64, 81,100]
5. Search for a number x in this tuple using loop:
    - [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [9]:
# 1
i = 1

while i <= 100:
    print(i)
    i += 1
print(f" The number are printed until {i}")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
 The number are printed until 101

In [10]:
#2
j = 100

while j >= 1:
    print(j)
    j -= 1
print(f"The numbers are printed upto {j}")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
The numbers are printed upto 0

In [12]:
# 3
n = int(input("Enter a number to create multiplication table:"))
i = 1

while i <= 10:
    mul = n * i
    print(f"{n} * {i} = {mul}")
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [42]:
l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
i = 0
# print(l[0])

while i <= len(l) - 1:
    print(l[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [48]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
n = int(input("enter the number you wanna search:"))
i = 0
while i < len(tup):
    if n == tup[i]: 
        print(f"The number is present in tuple -> {tup[i]}")
    else:
        print(f"The nmber youu have entered {n} is not in tuple")
    i += 1

The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The number is present in tuple -> 36
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple
The nmber youu have entered 36 is not in tuple


 - Break & Continue
1. Break: used to terminate the loop when encountered.
2. Continue : terminates execution in the current iteration & continues execution of the loop with the next iteration.

In [51]:
i = 1
while i <=5:
    print(i)
    if (i ==3):
        break
    i +=1
print("End of loop")

1
2
3
End of loop

In [57]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
n = int(input("enter the number you wanna search:"))
i = 0
while i < len(tup):
    if n == tup[i]: 
        print(f"The number is present in tuple -> {tup[i]}")
        break
    else:
        print(f"The number you have entered {n} is not in tuple")
    i += 1

The number is present in tuple -> 1

In [59]:
i = 0
while i <= 5:
    if(i == 3):
        i += 1
        continue # Skip
    print(i)
    i += 1

0
1
2
4
5

In [60]:
l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for i in l:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [63]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
n = int(input("Enter a number:"))

for i in tup:
    if (i == n):
        print(f"Found {n} in the tuple.")
        break
    i += 1
else:
    print(f"{n} is not present in tuple. Try another number.")

Found 1 in the tuple.

In [67]:
tup = (1, 4, 9, 16, 25, 1,36, 49, 64, 81, 81, 100)
n= 1

for i in tup:
    if (i == n):
        print(f"Found {n} in the tuple.")
    i += 1

Found 1 in the tuple.
Found 1 in the tuple.

In [68]:
for i in range (1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [71]:
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [72]:
n = int(input("Enter a number"))

for i in range(1, 11):
    mul = n * i
    print(f"{n} * {i} = {mul}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [76]:
# WAP to find the sum of first n numbers. (uusing while)
n = int(input("Enter a number"))
i = 0
sum = 0
while i < n+1:
    sum = sum + i
    i += 1
print(sum)

15

In [79]:
# WAP to find the factorial fo first n numbers.(using for)

n = int(input("Enter a number"))
fact = 1
for i in range(1, n +1):
    fact *= i
print(fact)

120